<div class="head">
  <div class="p-grid p-jc-center">
    <div class="p-col-10 p-d-flex p-jc-between">

      <div class="logo-wrap">
        <a class="logo" [routerLink]="['/']">Revaeve</a>
      </div>

      <!--      TODO:LATER включить компонент позже-->
      <!--      <span class="p-input-icon-left">-->
      <!--          <i class="pi pi-search"></i>-->
      <!--          <input-->
      <!--            type="text"-->
      <!--            pInputText-->
      <!--            placeholder="Поиск"-->
      <!--            [(ngModel)]="value3"-->
      <!--          />-->
      <!--      </span>-->

    </div>
  </div>
</div>
