<div class="p-grid p-jc-center">
  <div class="p-col-10">

    <app-ad-banner></app-ad-banner>
    <app-carousel-products [headingText]="title[0]" [carouselProducts]="products"></app-carousel-products>
    <app-carousel-articles [headingText]="title[1]" [carouselArticles]="articles" class="carousel-block"></app-carousel-articles>
    <app-carousel-products [headingText]="title[2]" [carouselProducts]="products" class="carousel-block"></app-carousel-products>
    <app-carousel-products [headingText]="title[3]" [carouselProducts]="products" class="carousel-block"></app-carousel-products>

  </div>
</div>

