::ng-deep .p-breadcrumb {
  background-color: transparent;
  border: none;
  padding-left: 0;


  ul{
    li .p-menuitem-link .p-menuitem-text {
      color: var(--text-color-secondary);
      font-weight: 300;
    }

    li.p-breadcrumb-chevron {
      color: #DEE2E6;
    }
  }
}
