::ng-deep .product-heading-text{
  margin-top: 1.5rem;
  display: block;
}

.rating-wrap{
  display: flex;
  margin-top: 1rem;

  .rating-text {
    margin-left: 1rem;
    color: var(--text-color-secondary);
    font-weight: 300;
  }
}





