<div class="description-wrap">

  <app-product-photo
    [mainImageUrl]="productData.mainImageUrl"
    [imageUrls]="productData.imageUrls"
  ></app-product-photo>

  <div class="text-product-wrap">

    <div class="text-product about-wrap">
      <h2 class="heading-text">Коротко о товаре:</h2>
      <p class="main-text">{{productData.description | slice:0:200}}
        <a href="#" class="small-link" (click)="showMoreAboutProduct()">узнать больше</a>
      </p>
    </div>

    <div class="specifications-wrap">
      <h2 class="heading-text">Характеристики:</h2>

      <div class="specifications-xxl-wrap">
        <div class="text-specifications-left-xxl">
          <div *ngFor="let specification of productData.specifications | slice:0:4" class="product-specifications-text">
            <p class="main-text specification-name">{{specification.name}}:&nbsp;</p>
            <p class="main-text">{{specification.value}}</p>
          </div>
        </div>


        <div class="text-specifications-right-xxl">
          <div *ngFor="let specification of productData.specifications | slice:4:7" class="product-specifications-text">
            <p class="main-text specification-name">{{specification.name}}:&nbsp;</p>
            <p class="main-text">{{specification.value}}</p>
          </div>
          <a href="#" class="small-link-text-specifications small-link" (click)="showMoreSpecifications()">узнать больше</a>
        </div>

      </div>

      <div class="specifications-xl-wrap">
        <div class="text-specifications-xl">
          <div *ngFor="let specification of productData.specifications | slice:0:2" class="product-specifications-text">
            <p class="main-text specification-name">{{specification.name}}:&nbsp;</p>
            <p class="main-text">{{specification.value}}</p>
          </div>
          <a href="#" class="small-link" (click)="showMoreSpecifications()">узнать больше</a>
        </div>
      </div>

    </div>
  </div>

</div>



