.card-wrap {
  padding: 2rem;
  background-color: white;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  p{
    margin-top: 0.5rem;
    max-width: 800px;
  }
}

.product-tab-specifications-text{
  display: flex;
}

.specification-name{
  font-weight: 500;
}
