<p-galleria [value]="images"
            [responsiveOptions]="responsiveOptions"
            [numVisible]="3"
            thumbnailsPosition="bottom"
>

  <ng-template pTemplate="item" let-item>
    <img class="product-galleria-big-photo"
      [src]="item.previewImageSrc"
    />
  </ng-template>

  <ng-template pTemplate="thumbnail" let-item>
    <div class="p-grid p-nogutter p-justify-center">
      <img class="product-galleria-small-photo"
        [src]="item.thumbnailImageSrc"
      />
    </div>
  </ng-template>

</p-galleria>
