<div class="p-grid p-jc-center">
  <div class="p-col-10">

    <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000" styleClass="products-catalog-filters-wrap-mobile">

      <div class="products-catalog-filters products-catalog-filters-mobile">

        <app-product-filters-selected
          *ngIf = "showSelectedFilters"
          [inputSelectedFiltersAsync]="selectedFilters$"
        ></app-product-filters-selected>


        <app-product-filters-rate
          (outputSelectedStars) = "updateSelectedFiltersStars($event)"
          [inputRateData]="filterData.rate"
        ></app-product-filters-rate>

        <product-filters-list-box
          (outputSelectedWebSites) = "updateSelectedFiltersWebSites($event)"
          [inputListBoxData]="filterData.listBox"
        ></product-filters-list-box>

      </div>

    </p-sidebar>


    <!--      TODO:LATER включить компонент позже-->
    <!-- ХЛЕБНЫЕ КРОШКИ   -->
    <!--    <app-bread-crumb></app-bread-crumb>-->

    <h2 class="heading-text products-catalog-heading-text">{{categoryHeading$ | async}}</h2>


    <div class="products-catalog-wrap">

      <div class="products-catalog-filters products-catalog-filters-web">

        <app-product-filters-selected
          *ngIf = "showSelectedFilters"
          [inputSelectedFiltersAsync]="selectedFilters$"
        ></app-product-filters-selected>


        <app-product-filters-rate
          (outputSelectedStars) = "updateSelectedFiltersStars($event)"
          [inputRateData]="filterData.rate"
        ></app-product-filters-rate>

        <product-filters-list-box
          (outputSelectedWebSites) = "updateSelectedFiltersWebSites($event)"
          [inputListBoxData]="filterData.listBox"
        ></product-filters-list-box>

      </div>


      <div class="products-catalog">
        <p-dataView
          #dv
          [value]="products"
          [paginator]="true"
          [rows]="30"
          filterBy="name"
          [sortField]="sortField"
          [sortOrder]="sortOrder"
          layout="grid"
          [loading]="showLoader"
          [lazy]="true"
          (onLazyLoad)="loadData($event)"
          [totalRecords]="totalRecords"
        >

          <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-row p-jc-between">

              <p-button
                type="button"
                (click)="visibleSidebar1 = true"
                label="Фильтры"
                class="button-filters-mobile"
              ></p-button>

              <p-dropdown
                [options]="sortOptions"
                [(ngModel)]="sortKey"
                placeholder="Сортировать"
                (onChange)="onSortChange($event)"
              ></p-dropdown>


              <!--      TODO:LATER включить компонент позже-->
              <span class="p-input-icon-left input-products-search">
                <i class="pi pi-search"></i>
                <input
                  type="search"
                  disabled
                  pInputText
                  placeholder="Search by Name"
                  (input)="dv.filter($event.target.value)"
                >
              </span>

              <!--      TODO:LATER включить компонент позже-->
               <p-dataViewLayoutOptions class="data-view-button"></p-dataViewLayoutOptions>

            </div>
          </ng-template>


              <!-- СЕТКА -->
              <ng-template let-product pTemplate="gridItem">
                <div class="p-xl-4 p-lg-6 p-md-6 p-sm-12">
                  <div class="product-grid-item" [routerLink]="['/product/' + product.id]">

                    <div class="img-wrap">
                      <img src="{{product.imageUrl}}">
                    </div>

                    <div class="product-grid-item-content">
                      <app-rating [stars]="product.stars"></app-rating>
<!--                      <span class="product-category main-text">{{categoryHeading$ | async}}</span>-->
                      <div class="product-name">{{product.name}}</div>

                    </div>

                  </div>
                </div>
              </ng-template>

              <!--      TODO:LATER включить компонент позже-->
              <!-- ЛИСТ -->
              <!--      <ng-template let-product pTemplate="listItem">-->
              <!--        <div class="p-col-12">-->
              <!--          <div class="product-list-item">-->
              <!--            <div class="product-list-detail">-->
              <!--              <div class="product-name">{{product.name}}</div>-->
              <!--              <div class="product-description">{{product.description}}</div>-->
              <!--              <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--              <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category}}</span>-->
              <!--            </div>-->
              <!--            <div class="product-list-action">-->
              <!--              <span class="product-price">${{product.price}}</span>-->
              <!--              <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>-->
              <!--              <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>-->
              <!--            </div>-->
              <!--          </div>-->
              <!--        </div>-->
              <!--      </ng-template>-->

        </p-dataView>
      </div>

    </div>

  </div>
</div>


